/* NAVBAR */
.navbar {
    top             : 0;
    padding         : var(--padding-element);
    gap             : var(--gap-element);
    z-index         : 1;

    width           : min(100%, 80em);
    height          : 4.2em;

    background-color: var(--backgroundcolor-1);

    position        : fixed;
    display         : flex;
    justify-content : space-between;
}
.navbar-left, .navbar-center, .navbar-right {
    gap    : var(--gap-element);
    width  : fit-content;
    height : 100%;
    display: flex;
}
.polta-logo, .theme-button, .add-button {
    height          : 100%;
    aspect-ratio    : 1/1;

    border          : none;
    outline         : none;

    color           : var(--fontcolor-1);
    border-radius   : var(--borderadius-circle);
    background-color: var(--backgroundcolor-1);
    cursor          : pointer;

    overflow        : hidden;

    &:hover{color: var(--fontcolor-2); background-color: var(--backgroundcolor-3);}
}
.add-button  {font-size: 1.8em;}
.form-search {width: 100%; max-width: 30em;}
.note-search {
    padding         : 0 1em 0 1em;

    height          : 100%;
    width           : 100%;

    border          : 1px solid var(--backgroundcolor-2);
    outline         : none;

    font-size       : clamp(1.2rem, 1vw, 1.2rem);
    color           : var(--fontcolor-4);
    border-radius   : var(--borderadius-round);
    background-color: var(--backgroundcolor-1);
}

/* SIDEBAR */
.notes-container {
    padding         : 0 0.6em 0.6em 0.6em;
    gap             : var(--gap-element);
    width           : min(100%, 80em);
    background-color: var(--backgroundcolor-1);
    display              : grid;
    grid-template-columns: repeat(auto-fill, minmax(min(15em, 100%), 1fr));
}
.note-card {
    padding         : 0.6em 0.6em 0 0.6em;
    gap             : var(--gap-element);

    aspect-ratio    : 1/1;

    border-radius   : var(--borderadius-square);
    background-color: var(--backgroundcolor-2);

    cursor          : pointer;
    position        : relative;
    overflow        : hidden;
    
    display         : flex;
    flex-direction  : column;

    &:hover {
        .note-title, .note-content {background-color: var(--backgroundcolor-3);}
        background-color: var(--backgroundcolor-3);
    }
}
.note-title, .note-content {
    font-weight     : 100;
    font-size       : clamp(1.4rem, 1vw, 1.2rem);
    color           : var(--fontcolor-4);
    word-wrap       : break-word;
    background-color: var(--backgroundcolor-2);
}
.note-content {font-size: clamp(1.2rem, 1.2vw, 1.2rem); color: var(--fontcolor-3);}
.note-dialog {
    top             : 50%;
    left            : 50%;
    transform       : translate(-50%, -50%);

    width           : 100%;
    max-width       : 50em;
    height          : 100%;
    max-height      : 50em;

    border          : none;
    outline         : none;

    border-radius   : var(--borderadius-square);
    background-color: var(--backgroundcolor-2);
}
.form-note {
    width           : 100%; 
    height          : 100%;
    background-color: var(--backgroundcolor-2);
    display         : flex;
    flex-direction  : column;
}
.form-top {width : 100%; height: fit-content;}
.form-title, .form-content {
    padding         : 0.6em;

    width           : 100%;
    height          : 100%;

    border          : none;
    outline         : none;
    font-family     : 'Courier New', monospace;
    border-bottom   : 1px solid var(--backgroundcolor-4);

    font-size       : clamp(1.2rem, 1.2vw, 1.2rem);
    color           : var(--fontcolor-4);
    background-color: var(--backgroundcolor-2);
}
.form-center  {width: 100%; height: 100%;}
.form-content {
    border         : none;
    color          : var(--fontcolor-3);
    scroll-behavior: smooth;
    &::-webkit-scrollbar       {width: 0.6em; background-color: var(--backgroundcolor-2);}
    &::-webkit-scrollbar-thumb {border-radius: 0.6em; background-color: var(--backgroundcolor-4); cursor: pointer;}
}
.form-bottom {
    padding        : 0 0.6em 0.6em 0.6em;
    gap            : 0.6em;
    width          : 100%;
    display        : flex;
    justify-content: space-between;
}
.left-wrap  {width: 5em;}
.right-wrap {gap: var(--gap-element); width: 10.6em; display: flex;}

.cancel-button, .save-button, .delete-button {
    width           : min(100%, 5em);
    height          : 2em;

    border          : none;
    outline         : none;

    font-size       : clamp(1rem, 1.2vw, 1.2rem);
    font-weight     : bold;
    color           : var(--closebutton-1);
    border-radius   : var(--borderadius-square);
    background-color: var(--backgroundcolor-3);

    cursor          : pointer;
    &:hover{color   : var(--closebutton-2); background-color: var(--backgroundcolor-4);}
}
.save-button {
    color           : var(--savebutton-1);
    background-color: var(--backgroundcolor-a);
    &:hover{color   : var(--savebutton-2); background-color: var(--backgroundcolor-b);}
}
.delete-button {
    color           : var(--deletebutton-1);
    background-color: var(--backgroundcolor-c);
    &:hover{color   : var(--deletebutton-2); background-color: var(--backgroundcolor-d);}
}